
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 50px;
    padding: 20px 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f4f4f4;
}

.imagen{
    width: 190px;
}

.botonAgregar{
    background-color: black;
}

.boton{
    background-color: green;
    padding: 10px 10px;
    text-align: center;
    border-radius: 15px;
}

.boton2{
    background-color: orange;
    border-radius: 10px;
    padding: 10px 10px;
    size: 16px;
}

.boton3{
    background-color: red;
    border-radius: 10px;
    padding: 10px 10px;
    size: 16px;
}

.contenedorBotones{
    text-align: center;
    padding: 8px;
    justify-content: space-between;
}